<div class="grid-container">
    <h1 class="mat-h1">Create Transaction</h1>
    <mat-grid-list cols="1">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title class="mb-3">
              <button mat-flat-button color="accent" [routerLink]="['/']" class="more-button">
                <mat-icon>arrow_back</mat-icon>Transaction List
            </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-transaction-form (formCompleted)="onFormCompleted()"></app-transaction-form>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>